html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
  scrollbar-width: thin;
}

body {
    margin: 0;
    padding: 0;
    height: 95vh;
    width: 100%;
    background: #eee;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}

#main-grid {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    justify-content: center;
    overflow: hidden;
    height: 100%; 
}

#content {
    justify-self: center;
    max-height: 100%;
    max-width: 100%;
}

.nav-button {
    height: 100%;
    max-width: 100%;
    cursor: pointer;
    font-size: 64px;
}