<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <link rel = "icon" href = "">
        <link rel="stylesheet" href="../templates/content-template.css">
        <title>Write Here</title>
    </head>
    <body>
        <article id="main-grid">
            <button class="nav-button" id="previous">&#8592;</button>
            <section id="content">
                <!--
                    Write Here! The book will render what you typed *exactly.
                -->
            </section>
            <button class="nav-button" id="next">&#8594;</button>
        </article>
        <script src="../page-parser.js"></script> 
    </body>
</html>